<img src="./images/banner.png" width="800">

# Detecting and Removing Duplicates

In the world of data analysis, duplicate records are like uninvited guests at a party ‚Äì they show up unexpectedly and can cause quite a bit of chaos if not managed properly.

<img src="./images/deduplication.jpg" width="800">

Duplicate records are instances in a dataset where the same information appears more than once. These repetitions can occur for various reasons:

- Data entry errors
- System glitches during data collection
- Merging datasets from multiple sources
- User-generated duplicates (e.g., double-clicking a submit button)

üîë **Key Concept:** Duplicate records are not always identical copies. They can be partial duplicates or near-duplicates, which we'll explore in more detail later.

Imagine you're analyzing customer data, and you count John Doe twice because his information was accidentally entered twice. Now your analysis suggests you have more customers than you actually do. This simple example illustrates why detecting and handling duplicates is crucial:

1. **Data Integrity:** Duplicates can skew your data, leading to incorrect conclusions.
2. **Storage Efficiency:** Unnecessary duplicates waste storage space.
3. **Processing Time:** Duplicate records increase the time needed for data processing and analysis.

üí° **Pro Tip:** Always check for duplicates as part of your initial data cleaning process. It's easier to handle them early than to discover their impact later in your analysis.

Detecting duplicates might seem straightforward ‚Äì just look for identical rows, right? But in reality, it's often more complex:

```python
# Simple duplicate detection
import pandas as pd

df = pd.DataFrame({
    'Name': ['John Smith', 'Jane Doe', 'John Smith', 'Jon Smith'],
    'Age': [30, 25, 30, 30],
    'City': ['New York', 'Boston', 'New York', 'New York']
})

print(df.duplicated().sum())  # Output: 1
```

In this example, we easily catch the exact duplicate. But what about 'Jon Smith'? It's likely a misspelling of 'John Smith' but won't be caught by simple duplicate detection.

ü§î **Why This Matters:** Real-world data is messy. Names get misspelled, ages might be off by a year, or cities might be entered with slight variations. Effective duplicate detection needs to account for these real-world inconsistencies.

As we delve deeper into duplicate detection, we'll explore:
- Different types of duplicates you might encounter
- Advanced methods for identifying duplicates, including fuzzy matching
- Strategies for handling partial and near-duplicates
- The impact of duplicates on your analysis
- Best practices for maintaining clean, duplicate-free datasets

By the end of this lecture, you'll be equipped with the knowledge and tools to tackle duplicate records effectively, ensuring your data analysis starts on a solid, clean foundation.

‚ùóÔ∏è **Important Note:** Remember, the goal isn't always to remove all duplicates blindly. Sometimes, what appears to be a duplicate might be legitimate data. Always understand your data context before making decisions about duplicate removal.

**Table of contents**<a id='toc0_'></a>    
- [Types of Duplicates in Datasets](#toc1_)    
  - [Exact Duplicates](#toc1_1_)    
  - [Partial Duplicates](#toc1_2_)    
  - [Near-Duplicates (Fuzzy Duplicates)](#toc1_3_)    
  - [Cross-Column Duplicates](#toc1_4_)    
  - [Semantic Duplicates](#toc1_5_)    
  - [Time-Based Duplicates](#toc1_6_)    
  - [Handling Different Types of Duplicates](#toc1_7_)    
- [Methods for Identifying Duplicate Records](#toc2_)    
  - [Exact Match Method](#toc2_1_)    
  - [Subset Matching](#toc2_2_)    
  - [Fuzzy Matching](#toc2_3_)    
  - [Phonetic Matching](#toc2_4_)    
  - [Distance-Based Methods](#toc2_5_)    
  - [Machine Learning Approaches for Duplicate Detection](#toc2_6_)    
    - [Supervised Learning Approach](#toc2_6_1_)    
    - [Unsupervised Learning Approach](#toc2_6_2_)    
    - [Hybrid Approach](#toc2_6_3_)    
  - [Combining Methods](#toc2_7_)    
- [Impact of Duplicates on Data Analysis](#toc3_)    
  - [Statistical Distortions](#toc3_1_)    
  - [Machine Learning Model Performance](#toc3_2_)    
  - [Business Intelligence and Decision Making](#toc3_3_)    
  - [Data Storage and Processing Efficiency](#toc3_4_)    
  - [Mitigation Strategies](#toc3_5_)    
- [Best Practices for Duplicate Detection and Removal](#toc4_)    
  - [Understand Your Data](#toc4_1_)    
  - [Implement a Comprehensive Detection Strategy](#toc4_2_)    
  - [Prioritize Fields for Matching](#toc4_3_)    
  - [Handle Different Data Types Appropriately](#toc4_4_)    
  - [Standardize and Clean Data Before Duplicate Detection](#toc4_5_)    
  - [Use Indexing for Large Datasets](#toc4_6_)    
  - [Validate and Refine Your Approach](#toc4_7_)    
  - [Decide on an Appropriate Removal Strategy](#toc4_8_)    
  - [Implement Ongoing Duplicate Prevention](#toc4_9_)    
  - [Document Your Process](#toc4_10_)    
- [Summary](#toc5_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=2
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_'></a>[Types of Duplicates in Datasets](#toc0_)

When diving into the world of data duplication, it's crucial to understand that not all duplicates are created equal. Let's explore the various types of duplicates you might encounter in your datasets, each with its own set of challenges and solutions.

### <a id='toc1_1_'></a>[Exact Duplicates](#toc0_)

Exact duplicates are the most straightforward type ‚Äì they're identical copies of a record, matching across all fields.

In [1]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['John Doe', 'Jane Smith', 'John Doe'],
    'Age': [30, 25, 30],
    'City': ['New York', 'Boston', 'New York']
})
df

         Name  Age      City
0    John Doe   30  New York
1  Jane Smith   25    Boston
2    John Doe   30  New York

In [2]:
df.drop_duplicates()

         Name  Age      City
0    John Doe   30  New York
1  Jane Smith   25    Boston

üîë **Key Concept:** Exact duplicates are often the easiest to detect and remove, but they're just the tip of the iceberg in real-world datasets.

### <a id='toc1_2_'></a>[Partial Exact Duplicates](#toc0_)

Partial duplicates occur when some, but not all, fields match between records. These are trickier to identify and handle.

In [3]:
df = pd.DataFrame({
    'Name': ['John Doe', 'John Doe', 'Jane Smith'],
    'Age': [30, 30, 25],
    'City': ['New York', 'Boston', 'Boston']
})

df.drop_duplicates()

         Name  Age      City
0    John Doe   30  New York
1    John Doe   30    Boston
2  Jane Smith   25    Boston

In this case, 'John Doe' appears twice with the same age but different cities. Is this a duplicate or two different people with the same name and age? Using `drop_duplicates()` without specifying a subset will remove all duplicates, which might not be what you want. You can specify a subset of columns to remove duplicates based on those columns.

In [4]:
df.drop_duplicates(subset=['Name', 'Age'])

         Name  Age      City
0    John Doe   30  New York
2  Jane Smith   25    Boston

### <a id='toc1_3_'></a>[Near-Duplicates (Fuzzy Duplicates)](#toc0_)

Near-duplicates are records that are very similar but not exactly the same. They often result from data entry errors, different spellings, or slight variations in format.

Example:
- "John Smith", 30, New York
- "Jon Smyth", 30, NY

In [5]:
df = pd.DataFrame({
    'Name': ['John Smith', 'Jon Smyth'],
    'Age': [30, 30],
    'City': ['New York', 'NY']
})
df.drop_duplicates(subset=['Name', 'Age'])

         Name  Age      City
0  John Smith   30  New York
1   Jon Smyth   30        NY

üí° **Pro Tip:** Detecting near-duplicates often requires fuzzy matching techniques, which we'll explore in later sections.

### <a id='toc1_4_'></a>[Cross-Column Duplicates](#toc0_)

Sometimes, the same information appears in different columns, creating a type of duplicate that's not immediately obvious.

In [6]:
df = pd.DataFrame({
    'Full_Name': ['John Doe', 'Jane Smith'],
    'First_Name': ['John', 'Jane'],
    'Last_Name': ['Doe', 'Smith']
})
df

    Full_Name First_Name Last_Name
0    John Doe       John       Doe
1  Jane Smith       Jane     Smith

In [7]:
df.drop_duplicates(subset=['Full_Name'])

    Full_Name First_Name Last_Name
0    John Doe       John       Doe
1  Jane Smith       Jane     Smith

Here, the full name is duplicated across separate first and last name columns.

### <a id='toc1_5_'></a>[Semantic Duplicates](#toc0_)

Semantic duplicates represent the same entity but with different representations. These are among the most challenging to detect.

Examples:
- "IBM" and "International Business Machines"
- "H2O" and "Water"

ü§î **Why This Matters:** Identifying semantic duplicates often requires domain knowledge and can't be fully automated.

### <a id='toc1_6_'></a>[Time-Based Duplicates](#toc0_)

In time-series data, you might encounter duplicates that are identical except for a timestamp:

In [8]:
df = pd.DataFrame({
    'User': ['User1', 'User1', 'User2'],
    'Action': ['Login', 'Login', 'Logout'],
    'Timestamp': ['2023-05-01 10:00:00', '2023-05-01 10:00:01', '2023-05-01 11:00:00']
})
df

    User  Action            Timestamp
0  User1   Login  2023-05-01 10:00:00
1  User1   Login  2023-05-01 10:00:01
2  User2  Logout  2023-05-01 11:00:00

Are these separate events or a system glitch creating duplicates?

### <a id='toc1_7_'></a>[Handling Different Types of Duplicates](#toc0_)

Each type of duplicate requires a different approach:

1. **Exact duplicates:** Often safe to remove automatically.
2. **Partial duplicates:** Require careful consideration and possibly manual review.
3. **Near-duplicates:** Need fuzzy matching techniques and threshold setting.
4. **Cross-column duplicates:** May require data restructuring.
5. **Semantic duplicates:** Often need domain-specific rules or machine learning approaches.
6. **Time-based duplicates:** Require understanding of the data's temporal nature.

‚ùóÔ∏è **Important Note:** The key to effective duplicate handling is to first identify what types of duplicates exist in your dataset, then develop a strategy tailored to each type.

By understanding these different types of duplicates, you're better equipped to tackle the complex task of data deduplication. In the next sections, we'll explore methods for identifying these various duplicate types and strategies for handling them effectively.

## <a id='toc2_'></a>[Methods for Identifying Duplicate Records](#toc0_)

Identifying duplicate records is a crucial step in data cleaning and preparation. Let's dive deeper into each method, exploring the tools and libraries that make these techniques possible.

### <a id='toc2_1_'></a>[Exact Match Method](#toc0_)

The exact match method is the most straightforward approach to finding duplicates. It identifies records that are identical across all fields.

In [9]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['John Doe', 'Jane Smith', 'John Doe', 'Alice Johnson', 'John Doe'],
    'Age': [30, 25, 30, 35, 30],
    'City': ['New York', 'Boston', 'New York', 'Chicago', 'Los Angeles']
})
df

            Name  Age         City
0       John Doe   30     New York
1     Jane Smith   25       Boston
2       John Doe   30     New York
3  Alice Johnson   35      Chicago
4       John Doe   30  Los Angeles

In [10]:
# Identify exact duplicates
exact_duplicates = df[df.duplicated()]
print("Exact Duplicates:")
exact_duplicates

Exact Duplicates:

       Name  Age      City
2  John Doe   30  New York

Here, we're using Pandas, a powerful data manipulation library in Python. The `duplicated()` method returns a boolean Series indicating duplicate rows. When used with boolean indexing (`df[df.duplicated()]`), it returns the duplicate rows.

üîë **Key Concept:** Pandas' `duplicated()` method has a `keep` parameter. By default (`keep='first'`), it marks all but the first occurrence of a duplicate as True. You can also use `keep='last'` or `keep=False` to change this behavior.

### <a id='toc2_2_'></a>[Subset Matching](#toc0_)

Subset matching allows you to focus on specific columns for identifying duplicates.

In [11]:
# Identify duplicates based on Name and Age
subset_duplicates = df[df.duplicated(subset=['Name', 'Age'], keep=False)]

print("Subset Duplicates (Name and Age):")
subset_duplicates

Subset Duplicates (Name and Age):

       Name  Age         City
0  John Doe   30     New York
2  John Doe   30     New York
4  John Doe   30  Los Angeles

The `subset` parameter in `duplicated()` lets you specify which columns to consider. This is particularly useful when you have columns that might legitimately have duplicate values (like 'City') but want to focus on key identifying fields.

üí° **Pro Tip:** Use `keep=False` to identify all duplicate rows, not just subsequent occurrences.

### <a id='toc2_3_'></a>[Fuzzy Matching](#toc0_)

Fuzzy matching is essential for detecting near-duplicates. It uses string similarity metrics to identify records that are close but not exactly the same.

In [12]:
%pip install thefuzz

Requirement already satisfied: thefuzz in /Users/hejazizo/miniconda3/envs/py310/lib/python3.10/site-packages (0.19.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from thefuzz import fuzz

/Users/hejazizo/miniconda3/envs/py310/lib/python3.10/site-packages/thefuzz/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [14]:
fuzz.ratio('John Doe', 'John D')

86

In [15]:
fuzz.partial_ratio('John Doe', 'John D')

100

In [16]:
import itertools

def fuzzy_dedupe(df, column, threshold=80):
    duplicates = []
    for (idx1, row1), (idx2, row2) in itertools.combinations(df.iterrows(), 2):
        if fuzz.ratio(row1[column], row2[column]) >= threshold:
            duplicates.append((idx1, idx2))
    return duplicates

fuzzy_dupes = fuzzy_dedupe(df, 'Name')
fuzzy_dupes

[(0, 2), (0, 4), (2, 4)]

In [17]:
print("Fuzzy Duplicates:")
for idx1, idx2 in fuzzy_dupes:
    print("Potential duplicate:")
    print()
    print(df.loc[idx1])
    print()
    print(df.loc[idx2])
    print('-' * 50)

Fuzzy Duplicates:
Potential duplicate:

Name    John Doe
Age           30
City    New York
Name: 0, dtype: object

Name    John Doe
Age           30
City    New York
Name: 2, dtype: object
--------------------------------------------------
Potential duplicate:

Name    John Doe
Age           30
City    New York
Name: 0, dtype: object

Name       John Doe
Age              30
City    Los Angeles
Name: 4, dtype: object
--------------------------------------------------
Potential duplicate:

Name    John Doe
Age           30
City    New York
Name: 2, dtype: object

Name       John Doe
Age              30
City    Los Angeles
Name: 4, dtype: object
--------------------------------------------------

Here, we're using the `fuzzywuzzy` library, which provides various string matching algorithms. The `fuzz.ratio()` function calculates the Levenshtein distance ratio between two strings.

- `itertools.combinations()` generates all possible pairs of rows.
- We compare each pair and if the similarity ratio exceeds our threshold, we consider it a potential duplicate.

ü§î **Why This Matters:** Fuzzy matching can catch typos, slight variations in spelling, and other near-matches that exact matching would miss.

### <a id='toc2_4_'></a>[Phonetic Matching](#toc0_)

Phonetic matching is useful for catching duplicates that sound the same but are spelled differently.

In [18]:
%pip install jellyfish

Requirement already satisfied: jellyfish in /Users/hejazizo/miniconda3/envs/py310/lib/python3.10/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import jellyfish

# data with phonetic duplicates
df = pd.DataFrame({
    'Name': ['John Doe', 'Jane Smith', 'John Doh', 'Alice Johnson', 'John Doe'],
    'Age': [30, 25, 30, 35, 30],
    'City': ['New York', 'Boston', 'New York', 'Chicago', 'Los Angeles']
})

def phonetic_match(df, column):
    df['phonetic'] = df[column].apply(jellyfish.soundex)
    return df[df.duplicated(subset='phonetic', keep=False)].sort_values('phonetic')

phonetic_dupes = phonetic_match(df, 'Name')
print("Phonetic Duplicates:")
print(phonetic_dupes)

Phonetic Duplicates:
       Name  Age         City phonetic
0  John Doe   30     New York     J530
2  John Doh   30     New York     J530
4  John Doe   30  Los Angeles     J530

We're using the `jellyfish` library here, which provides various phonetic encoding algorithms. Soundex is a phonetic algorithm that indexes names by sound, as pronounced in English.

- `jellyfish.soundex()` converts names to their Soundex code.
- We then use Pandas' `duplicated()` method on this new 'phonetic' column to find matches.

### <a id='toc2_5_'></a>[Distance-Based Methods](#toc0_)

For numerical or categorical data, distance-based methods can be effective. These methods calculate the similarity or distance between records across multiple fields.

In [20]:
from scipy.spatial.distance import pdist, squareform
import numpy as np
import pandas as pd

def distance_based_duplicates(df, columns, threshold=5):
    subset = df[columns]
    dist_matrix = pdist(subset.values, metric='euclidean')
    dist_matrix = squareform(dist_matrix)
    print(f'dist_matrix shape: {dist_matrix.shape}')
    print(dist_matrix)
    print('-' * 50)
    duplicate_pairs = np.argwhere((dist_matrix > 0) & (dist_matrix < threshold))
    return duplicate_pairs

df = pd.DataFrame({
    'Name': ['John Doe', 'Jane Smith', 'John Doe', 'Alice Johnson', 'John Doe'],
    'Age': [32, 26, 29, 31, 28],
    'Height': [170, 165, 170, 168, 170],
    'Weight': [60, 55, 60, 58, 60]
})
df

            Name  Age  Height  Weight
0       John Doe   32     170      60
1     Jane Smith   26     165      55
2       John Doe   29     170      60
3  Alice Johnson   31     168      58
4       John Doe   28     170      60

In [21]:
# Only use numeric columns for distance calculation
numeric_columns = ['Age','Height', 'Weight']
dist_dupes = distance_based_duplicates(df, numeric_columns, threshold=3)

print("Distance-Based Duplicates:")
if len(dist_dupes) > 0:
    print(f'{len(dist_dupes)} duplicates found')
    for pair in dist_dupes:
        print(df.iloc[pair])
        print("-" * 50)
else:
    print("No duplicates found.")

dist_matrix shape: (5, 5)
[[0.         9.2736185  3.         3.         4.        ]
 [9.2736185  0.         7.68114575 6.55743852 7.34846923]
 [3.         7.68114575 0.         3.46410162 1.        ]
 [3.         6.55743852 3.46410162 0.         4.12310563]
 [4.         7.34846923 1.         4.12310563 0.        ]]
--------------------------------------------------
Distance-Based Duplicates:
2 duplicates found
       Name  Age  Height  Weight
2  John Doe   29     170      60
4  John Doe   28     170      60
--------------------------------------------------
       Name  Age  Height  Weight
4  John Doe   28     170      60
2  John Doe   29     170      60
--------------------------------------------------

Here, we're using SciPy's distance functions:
- `pdist()` computes pairwise distances between observations.
- `squareform()` converts the distance matrix to a square form.
- We then use NumPy to find pairs of points that are close but not identical.

‚ùóÔ∏è **Important Note:** For this method to work well, your numerical features should be on a similar scale. Consider normalizing your data first.

### <a id='toc2_6_'></a>[Machine Learning Approaches for Duplicate Detection](#toc0_)

Machine learning can be a powerful tool for detecting duplicates, especially in complex datasets. We'll explore both supervised and unsupervised approaches using a sample dataset.

First, let's create our sample dataset:

In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
from thefuzz import fuzz

# Create a sample dataset
np.random.seed(42)
data = {
    'Name': ['John Smith', 'Jane Doe', 'Jon Smyth', 'Jane Doe', 'John Smyth', 'Janet Doe'],
    'Age': [29, 28, 31, 26, 28, 26],
    'City': ['New York', 'Boston', 'New York', 'Boston', 'NY', 'Bostan'],
    'Salary': [50000, 60000, 51000, 60000, 50000, 61000]
}

df = pd.DataFrame(data)
print("Sample Dataset:")
df

Sample Dataset:

         Name  Age      City  Salary
0  John Smith   29  New York   50000
1    Jane Doe   28    Boston   60000
2   Jon Smyth   31  New York   51000
3    Jane Doe   26    Boston   60000
4  John Smyth   28        NY   50000
5   Janet Doe   26    Bostan   61000

#### <a id='toc2_6_1_'></a>[Supervised Learning Approach](#toc0_)

In a supervised approach, we treat duplicate detection as a binary classification problem. We'll start by creating a labeled dataset of record pairs.

In [23]:
def create_pair_features(left, right):
    """Create features that capture the similarity between two records"""
    features = {}
    features['name_similarity'] = fuzz.ratio(left['Name'], right['Name']) / 100.0
    features['age_diff'] = abs(left['Age'] - right['Age'])
    features['city_similarity'] = fuzz.ratio(left['City'], right['City']) / 100.0
    features['salary_diff'] = abs(left['Salary'] - right['Salary'])
    return features

In [24]:
from faker import Faker
import random

# Create a sample dataset
fake = Faker()
num_records = 20
num_unique_values = 3

names = [fake.name() for _ in range(num_unique_values)]
age = [fake.random_int(min=20, max=40) for _ in range(num_unique_values)]
cities = [fake.city() for _ in range(num_unique_values)]
salaries = [fake.random_int(min=30000, max=100000) for _ in range(num_unique_values)]

names = [random.choice(names) for _ in range(num_records)]
age = [random.choice(age) for _ in range(num_records)]
cities = [random.choice(cities) for _ in range(num_records)]
salaries = [random.choice(salaries) for _ in range(num_records)]

In [25]:
# Create all possible pairs of records
pairs = []
labels = []
for i in range(num_records):
    left = {
        'Name': names[i],
        'Age': age[i],
        'City': cities[i],
        'Salary': salaries[i]
    }
    for j in range(i+1, num_records):
        right = {
            'Name': names[j],
            'Age': age[j],
            'City': cities[j],
            'Salary': salaries[j]
        }
        pairs.append(create_pair_features(left, right))
        # Label as duplicate if names are very similar and age difference is small
        is_duplicate = (fuzz.ratio(left['Name'], right['Name']) > 80) and (abs(left['Age'] - right['Age']) <= 1)
        labels.append(int(is_duplicate))

X = pd.DataFrame(pairs)
y = pd.Series(labels)

X

     name_similarity  age_diff  city_similarity  salary_diff
0               0.30         3             0.22        32623
1               0.23         0             0.17        32623
2               0.23         3             1.00        15979
3               0.23         1             0.17        32623
4               0.23         1             0.17            0
..               ...       ...              ...          ...
185             0.23         1             0.17        16644
186             1.00         0             0.17        32623
187             1.00         3             1.00        15979
188             0.08         2             1.00            0
189             0.08         1             1.00        15979

[190 rows x 4 columns]

In [26]:
y.sum()

56

In [27]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Train a Random Forest classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Evaluate the model
y_pred = clf.predict(X_test)
print("\nSupervised Learning Results:")
print(classification_report(y_test, y_pred))

Supervised Learning Results:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        27
           1       1.00      1.00      1.00        11

    accuracy                           1.00        38
   macro avg       1.00      1.00      1.00        38
weighted avg       1.00      1.00      1.00        38

In [28]:
# Predict on all pairs
all_pairs_pred = clf.predict(X_test)
all_pairs_pred

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0])

In [29]:
for i, pred in enumerate(all_pairs_pred):
    if pred == 1:
        print(X_test.iloc[i])
        print('-' * 50)

name_similarity    1.00
age_diff           1.00
city_similarity    0.22
salary_diff        0.00
Name: 133, dtype: float64
--------------------------------------------------
name_similarity        1.00
age_diff               0.00
city_similarity        0.22
salary_diff        15979.00
Name: 8, dtype: float64
--------------------------------------------------
name_similarity        1.00
age_diff               1.00
city_similarity        0.17
salary_diff        32623.00
Name: 15, dtype: float64
--------------------------------------------------
name_similarity        1.00
age_diff               1.00
city_similarity        0.17
salary_diff        16644.00
Name: 160, dtype: float64
--------------------------------------------------
name_similarity        1.00
age_diff               0.00
city_similarity        0.22
salary_diff        15979.00
Name: 67, dtype: float64
--------------------------------------------------
name_similarity    1.00
age_diff           1.00
city_similarity    0.22
salary_diff        0.00
Name: 182, dtype: float64
--------------------------------------------------
name_similarity        1.00
age_diff               0.00
city_similarity        0.17
salary_diff        32623.00
Name: 186, dtype: float64
--------------------------------------------------
name_similarity        1.00
age_diff               0.00
city_similarity        0.17
salary_diff        32623.00
Name: 91, dtype: float64
--------------------------------------------------
name_similarity    1.0
age_diff           1.0
city_similarity    1.0
salary_diff        0.0
Name: 38, dtype: float64
--------------------------------------------------
name_similarity        1.0
age_diff               1.0
city_similarity        1.0
salary_diff        32623.0
Name: 171, dtype: float64
--------------------------------------------------
name_similarity        1.00
age_diff               1.00
city_similarity        0.17
salary_diff        16644.00
Name: 141, dtype: float64
--------------------------------------------------

üîë **Key Concept:** The feature engineering step is crucial here. We create features that capture the similarity between pairs of records.

#### <a id='toc2_6_2_'></a>[Unsupervised Learning Approach](#toc0_)

In an unsupervised approach, we use similarity scores to identify potential duplicates without labeled data.

In [30]:
def unsupervised_duplicates(df, threshold=0.6):
    # Prepare the data
    numeric_cols = ['Age', 'Salary']
    categorical_cols = ['City', 'Name']

    # One-hot encode categorical variables
    df_encoded = pd.get_dummies(df, columns=categorical_cols)

    # Standardize numeric features
    scaler = StandardScaler()
    df_scaled = pd.DataFrame(scaler.fit_transform(df_encoded[numeric_cols]), columns=numeric_cols)

    # Combine scaled numeric and one-hot encoded features
    df_prepared = pd.concat([df_scaled, df_encoded.drop(columns=numeric_cols)], axis=1)

    # Compute similarity matrix
    sim_matrix = cosine_similarity(df_prepared)

    # Find potential duplicates
    potential_duplicates = []
    for i in range(len(df)):
        for j in range(i+1, len(df)):
            if sim_matrix[i][j] > threshold:
                potential_duplicates.append((i, j, sim_matrix[i][j]))

    return potential_duplicates

duplicates = unsupervised_duplicates(df)
print("\nPotential Duplicates (Unsupervised):")
for i, j, sim in duplicates:
    print(f"Record {i} and Record {j} might be duplicates (similarity: {sim:.2f})")
    print(df.iloc[i])
    print(df.iloc[j])
    print()

Potential Duplicates (Unsupervised):
Record 0 and Record 2 might be duplicates (similarity: 0.65)
Name      John Smith
Age               29
City        New York
Salary         50000
Name: 0, dtype: object
Name      Jon Smyth
Age              31
City       New York
Salary        51000
Name: 2, dtype: object

Record 1 and Record 3 might be duplicates (similarity: 0.83)
Name      Jane Doe
Age             28
City        Boston
Salary       60000
Name: 1, dtype: object
Name      Jane Doe
Age             26
City        Boston
Salary       60000
Name: 3, dtype: object

üí° **Pro Tip:** The choice of similarity metric and threshold can greatly affect results. Experiment with different options like Jaccard similarity for categorical data or Euclidean distance for numeric data.

#### <a id='toc2_6_3_'></a>[Hybrid Approach](#toc0_)

In practice, a hybrid approach often works best. Here's a simplified example:

In [31]:
def hybrid_duplicate_detection(df, unsupervised_threshold=0.25, supervised_threshold=0.5):
    # Step 1: Use unsupervised method to identify potential duplicates
    potential_dupes = unsupervised_duplicates(df, threshold=unsupervised_threshold)

    # Step 2: Create features for these potential duplicates
    X = []
    for i, j, _ in potential_dupes:
        X.append(create_pair_features(df.iloc[i], df.iloc[j]))
    X = pd.DataFrame(X)

    # Step 3: Use the supervised model to classify these potential duplicates
    probas = clf.predict_proba(X)[:, 1]  # Probability of being a duplicate

    # Step 4: Filter based on the supervised model's confidence
    final_duplicates = [(potential_dupes[i][0], potential_dupes[i][1])
                        for i, proba in enumerate(probas) if proba > supervised_threshold]

    return final_duplicates

hybrid_dupes = hybrid_duplicate_detection(df)
print("\nPotential Duplicates (Hybrid Approach):")
for i, j in hybrid_dupes:
    print(f"Record {i} and Record {j} might be duplicates")
    print(df.iloc[i])
    print(df.iloc[j])
    print()

Potential Duplicates (Hybrid Approach):
Record 0 and Record 4 might be duplicates
Name      John Smith
Age               29
City        New York
Salary         50000
Name: 0, dtype: object
Name      John Smyth
Age               28
City              NY
Salary         50000
Name: 4, dtype: object

Record 3 and Record 5 might be duplicates
Name      Jane Doe
Age             26
City        Boston
Salary       60000
Name: 3, dtype: object
Name      Janet Doe
Age              26
City         Bostan
Salary        61000
Name: 5, dtype: object

ü§î **Why This Matters:** The hybrid approach combines the strengths of both supervised and unsupervised methods. It uses unsupervised learning to cast a wide net for potential duplicates, then applies the more precise supervised model to filter these candidates.

‚ùóÔ∏è **Important Note:** The effectiveness of these approaches heavily depends on the quality of your features and the characteristics of your data. Always validate your results and be prepared to iterate on your approach.

This example provides a comprehensive look at how machine learning can be applied to duplicate detection. It starts with a simple dataset and demonstrates supervised, unsupervised, and hybrid approaches. In a real-world scenario, you would likely need to refine these methods further, possibly incorporating more sophisticated feature engineering or trying different machine learning algorithms.

### <a id='toc2_7_'></a>[Combining Methods](#toc0_)

In practice, a combination of these methods often yields the best results. You might start with exact matching, then use fuzzy matching on the remaining records, and finally apply domain-specific rules.

In [32]:
# Pseudocode for a combined approach
def identify_duplicates(df):
    exact_dupes = df[df.duplicated(keep=False)]
    remaining = df.drop(exact_dupes.index)

    fuzzy_dupes = pd.DataFrame(columns=df.columns)
    for col in ['Name', 'City']:
        fuzzy_dupes = pd.concat([fuzzy_dupes,
                                 remaining[remaining.index.isin(fuzzy_dedupe(remaining, col))]])

    remaining = remaining.drop(fuzzy_dupes.index)
    phonetic_dupes = phonetic_match(remaining, 'Name')

    return pd.concat([exact_dupes, fuzzy_dupes, phonetic_dupes])

all_duplicates = identify_duplicates(df)
print("\nAll Detected Duplicates:")
print(all_duplicates)

All Detected Duplicates:
         Name Age      City Salary phonetic
0  John Smith  29  New York  50000     J525
2   Jon Smyth  31  New York  51000     J525
4  John Smyth  28        NY  50000     J525
1    Jane Doe  28    Boston  60000     J530
3    Jane Doe  26    Boston  60000     J530

This combined approach leverages the strengths of each method:
1. It starts with exact matching to catch obvious duplicates.
2. Then applies fuzzy matching to catch near-duplicates.
3. Finally, uses phonetic matching to catch any remaining sound-alike duplicates.

By understanding and applying these various methods, you can create a robust duplicate detection system tailored to your specific dataset and requirements. Remember, the key is to understand your data and choose the methods that best fit your use

## <a id='toc3_'></a>[Impact of Duplicates on Data Analysis](#toc0_)

Duplicate records in datasets are more than just a nuisance; they can significantly skew your analysis and lead to erroneous conclusions. Understanding the impact of duplicates is crucial for maintaining data integrity and ensuring the reliability of your analytical results.

### <a id='toc3_1_'></a>[Statistical Distortions](#toc0_)

üîë **Key Concept:** Duplicates can artificially inflate or deflate statistical measures, leading to misinterpretation of data.

1. **Descriptive Statistics**:
   - Measures of central tendency (mean, median) can be shifted.
   - Variance and standard deviation may be underestimated.

2. **Frequency Distributions**:
   - Duplicates can exaggerate the frequency of certain values, distorting histograms and frequency tables.

3. **Correlations**:
   - Duplicate records can strengthen or weaken correlations between variables, potentially leading to false insights.

üí° **Pro Tip:** Always check for and handle duplicates before calculating summary statistics or performing correlation analyses.

### <a id='toc3_2_'></a>[Machine Learning Model Performance](#toc0_)

Duplicates can have a significant impact on machine learning models:

1. **Overfitting**:
   - If duplicates are present in both training and test sets, models may appear to perform better than they actually do.

2. **Biased Learning**:
   - Models may give undue importance to duplicated instances, leading to biased predictions.

3. **Data Leakage**:
   - In time-series data, duplicates can cause future information to leak into the past, leading to unrealistic model performance.

‚ùóÔ∏è **Important Note:** Be especially cautious with duplicates when performing cross-validation or time-series forecasting.

### <a id='toc3_3_'></a>[Business Intelligence and Decision Making](#toc0_)

The presence of duplicates can lead to flawed business insights:

1. **Customer Analytics**:
   - Duplicate customer records can lead to overestimation of customer base or misunderstanding of customer behavior.

2. **Financial Reporting**:
   - Duplicate transactions can inflate revenue figures or distort expense reports.

3. **Inventory Management**:
   - Duplicate product entries can lead to incorrect stock levels and inefficient supply chain management.

ü§î **Why This Matters:** Inaccurate business intelligence can lead to poor strategic decisions and misallocation of resources.

### <a id='toc3_4_'></a>[Data Storage and Processing Efficiency](#toc0_)

While perhaps less critical than analytical impacts, duplicates also affect system performance:

1. **Storage Costs**:
   - Unnecessary duplicates waste storage space, which can be significant in large datasets.

2. **Processing Time**:
   - Duplicate records increase the time needed for data processing and analysis.

3. **Data Transfer**:
   - In distributed systems, duplicates increase the volume of data that needs to be transferred between nodes.

### <a id='toc3_5_'></a>[Mitigation Strategies](#toc0_)

To address the impact of duplicates:

1. Implement robust duplicate detection methods as part of your data pipeline.
2. Regularly audit your data for duplicates, especially before critical analyses.
3. When duplicates are found, carefully consider whether to merge, delete, or flag them based on your specific use case.
4. Document your duplicate handling procedures for transparency and reproducibility.

In [33]:
# Example of how duplicates can affect basic statistics
import pandas as pd

df = pd.DataFrame({
    'Value': [1, 2, 3, 3, 4, 5]  # Note the duplicate '3'
})

print(f"Mean with duplicate: {df['Value'].mean()}")
print(f"Mean without duplicate: {df['Value'].drop_duplicates().mean()}")

Mean with duplicate: 3.0
Mean without duplicate: 3.0

By understanding and addressing the impact of duplicates, you can ensure more accurate analyses, better model performance, and more reliable business insights. Remember, the goal isn't always to remove all duplicates blindly, but to handle them in a way that maintains the integrity of your data and the accuracy of your results.

## <a id='toc4_'></a>[Best Practices for Duplicate Detection and Removal](#toc0_)

Effective duplicate detection and removal is crucial for maintaining data quality. Here are some best practices to guide you through this process:

### <a id='toc4_1_'></a>[Understand Your Data](#toc0_)

üîë **Key Concept:** Before you start, gain a thorough understanding of your dataset.

- Identify key fields that should be unique (e.g., customer ID, transaction number).
- Understand which fields might legitimately have duplicates.
- Consider the business context of your data to inform your duplicate detection strategy.

### <a id='toc4_2_'></a>[Implement a Comprehensive Detection Strategy](#toc0_)

Combine multiple methods for robust duplicate detection:

- **Exact Matching**: Start with identifying exact duplicates across all relevant fields.
- **Fuzzy Matching**: Use techniques like Levenshtein distance or Soundex for near-matches.
- **Rule-Based Approaches**: Develop domain-specific rules for your data.
- **Machine Learning**: For complex datasets, consider supervised or unsupervised ML approaches.

üí° **Pro Tip:** No single method is perfect. A combination of approaches often yields the best results.

### <a id='toc4_3_'></a>[Prioritize Fields for Matching](#toc0_)

Not all fields are equally important for identifying duplicates:

- Focus on fields that are most likely to uniquely identify a record (e.g., name, date of birth, address).
- Assign weights to different fields based on their importance in determining a duplicate.

```python
# Pseudocode for weighted field matching
def is_duplicate(record1, record2, weights):
    total_weight = sum(weights.values())
    match_score = sum(weights[field] for field in weights if record1[field] == record2[field])
    return match_score / total_weight > 0.8  # 80% match threshold
```

### <a id='toc4_4_'></a>[Handle Different Data Types Appropriately](#toc0_)

Different data types require different duplicate detection approaches:

- **Strings**: Use fuzzy matching techniques.
- **Numbers**: Consider using range-based matching or rounding.
- **Dates**: Standardize format before comparison.
- **Categorical Data**: Consider semantic similarities.

### <a id='toc4_5_'></a>[Standardize and Clean Data Before Duplicate Detection](#toc0_)

ü§î **Why This Matters:** Standardization can significantly improve duplicate detection accuracy.

- Normalize text (e.g., convert to lowercase, remove punctuation).
- Standardize formats (e.g., phone numbers, addresses).
- Handle missing values consistently.

### <a id='toc4_6_'></a>[Use Indexing for Large Datasets](#toc0_)

For large datasets, comparing every record with every other is computationally expensive:

- Implement blocking or indexing strategies to reduce the number of comparisons.
- Group records by a common attribute (e.g., first letter of last name) before detailed comparison.

### <a id='toc4_7_'></a>[Validate and Refine Your Approach](#toc0_)

Duplicate detection is often an iterative process:

- Start with a small subset of your data to test your approach.
- Manually review a sample of detected duplicates to assess accuracy.
- Refine your methods based on false positives and false negatives.

### <a id='toc4_8_'></a>[Decide on an Appropriate Removal Strategy](#toc0_)

‚ùóÔ∏è **Important Note:** Removing duplicates isn't always straightforward.

- Consider whether to keep the first occurrence, last occurrence, or merge information.
- In some cases, flagging duplicates without removal might be more appropriate.
- Document your removal strategy for transparency.

```python
# Example of different removal strategies
import pandas as pd

df = pd.DataFrame({'ID': [1, 2, 2, 3], 'Value': [10, 20, 25, 30]})

print("Keep first:")
print(df.drop_duplicates(subset='ID', keep='first'))

print("\nKeep last:")
print(df.drop_duplicates(subset='ID', keep='last'))

print("\nMerge (sum):")
print(df.groupby('ID').sum().reset_index())
```

### <a id='toc4_9_'></a>[Implement Ongoing Duplicate Prevention](#toc0_)

Don't just remove duplicates ‚Äì prevent them:

- Implement real-time duplicate checking for data entry systems.
- Use unique constraints in databases where appropriate.
- Regularly audit your data for new duplicates.

### <a id='toc4_10_'></a>[Document Your Process](#toc0_)

Maintain clear documentation of your duplicate detection and removal process:

- Detail the methods used, thresholds set, and decisions made.
- Keep logs of removed or merged records for auditing purposes.

By following these best practices, you can develop a robust and effective approach to duplicate detection and removal. Remember, the goal is not just to remove duplicates, but to do so in a way that maintains data integrity and supports accurate analysis.

## <a id='toc5_'></a>[Summary](#toc0_)

As we conclude our exploration of duplicate detection and removal, let's recap the key points and reflect on their importance in the data processing pipeline. Here are the key takeaways:

1. Duplicate records can significantly impact data analysis, machine learning models, and business decisions.
2. Various types of duplicates exist, from exact matches to fuzzy duplicates and semantic duplicates.
3. A multi-faceted approach combining different methods often yields the best results in duplicate detection.

We've covered a range of techniques for identifying duplicates:

- Exact matching for straightforward cases
- Fuzzy matching for handling near-duplicates and typos
- Phonetic algorithms for sound-alike matches
- Machine learning approaches for complex patterns and large datasets

üí° **Pro Tip:** The choice of method depends on your specific data characteristics and use case. Don't hesitate to combine methods for more robust results. Handling duplicates is critical in many ways since:
- Unhandled duplicates can lead to skewed analytics, biased machine learning models, and flawed business decisions.
- Effective duplicate management improves data quality, enhances system performance, and ensures regulatory compliance.

We've outlined several best practices, including:

1. Understanding your data before starting
2. Implementing a comprehensive detection strategy
3. Standardizing and cleaning data
4. Validating and refining your approach

As data volumes continue to grow and data sources diversify, the challenge of duplicate detection will only become more complex. Stay informed about emerging techniques, especially in the realms of machine learning and big data processing.

Mastering duplicate detection is a crucial skill for any data professional. It's not just about cleaning data; it's about ensuring the integrity and reliability of the insights derived from that data. By applying the methods and best practices we've discussed, you'll be well-equipped to tackle duplicate detection challenges in your data projects.

Remember, the goal isn't perfection, but continuous improvement in your data quality. Each dataset is unique, and your approach should be tailored to your specific needs and constraints.

As you move forward, keep experimenting with different techniques, stay curious about new methods, and always keep the end goal in mind: high-quality, reliable data that drives accurate insights and informed decisions.